* {
    
    font-family: 'Spartan', sans-serif;
}
body {
    position: relative;
}

nav {
    height: 10vh;
    width: 100%;
    background-color: #330a21;
    position: relative;
}

header {
    width: 100%;
    position: relative;
    font-size: 16px;
}

.navlinks {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    height: 100%;
    width: 50%;
    margin-left: auto;
}

.navlinks li {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 250ms ease;
}

.navlinks li:hover {
    background-color: #4e1936;;
    transition: all 250ms ease;
}
.links {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
.line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
}
.hamburger{
    display: none;
}
.donation-page {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url("../material/960x0.jpg");
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1.heading{
    opacity: 0;
    width: 100%;
    color: #ffeef7;
    text-align: center;
}

h1.headText{
    margin-left: 2rem;
    color: #ffe4f3;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(-20px, -50%);
    transition: opacity 250ms ease;
    font-weight: 600;
}

.discription {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    text-align: center;
    color: white;
}

.form {
    opacity: 3;
    height: 60vh;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 2rem 5rem 0 rgba(252, 162, 17, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 10;
}

.form>* {
    width: 100%;
}

input {
    height: 2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
}

span {
    color: #ffeef7;
}

@media only screen and (max-width: 678px) {
    .hamburger {
        display: none;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 10;
    }
    .navlinks {
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: rgba(20, 33, 61, 0.85);
        flex-direction: column;
        clip-path: circle(100px at 90% -20%);
        -webkit-clip-path: circle(100px at 90% -20%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .navlinks.open {
        clip-path: circle(1200px at 90% -20%);
        -webkit-clip-path: circle(1200px at 90% -20%);
        pointer-events: all;
    }
    .navlinks li {
        opacity: 0;
    }
    .navlinks li a {
        font-size: 25px;
    }
    .navlinks li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }
    .navlinks li:nth-child(2) {
        transition: all 0.5s ease 0.2s;
    }
    .navlinks li:nth-child(3) {
        transition: all 0.5s ease 0.2s;
    }
    .navlinks li:nth-child(4) {
        transition: all 0.5s ease 0.2s;
    }
    li.fade {
        opacity: 1;
    }
    .form {
        width: 80%;
    }
}

@media only screen and (max-width: 320px) {
    h1.heading{
        font-size: medium;
    }
}
